name: Prek checks

on:
  push:
  pull_request:
  pull_request_target:

jobs:
  prek:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: j178/prek-action@v1
